* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.navbar {
  background-color: #21222a;
  display: flex;
  align-items: center;
  padding: 10px 33px;
  font-family: "Inter", sans-serif;
  height: 90px;
}
.navbar > img {
  height: 40px;
  margin-right: 7px;
}
.logoName {
  color: #61dafb;
  margin-right: auto;
}
.side {
  color: #918e9b;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 10px;
}
.secondary {
  color: #ffffff;
}
.slideBox {
  height: 13px;
  width: 25px;
  border-radius: 11px;
  background-color: #f5f5f5;
  position: relative;
}
.slide {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-6%, -47%);
  background-color: #222222;
  appearance: none;
  cursor: pointer;
}
.slide:checked {
  left: 0;
  background-color: #fff;
  transform: translate(6%, -47%);
  transition: left 1s ease-in;
}
main {
  height: 100vh;
  width: 100%;
  background-color: #282d35;
  color: #ffffff;
  padding: 57px 36px;
  font-family: "Inter", sans-serif;
  background-image: url(./imges/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 25%;
}
.main-title {
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  padding-bottom: 46px;
}
.main-dis > li {
  font-size: 19px;
  line-height: 37px;
}
.main-dis {
  width: 355px;
  margin-left: 26px;
}
.main-dis > li::marker {
  font-size: 1.6rem;
  color: #61dafb;
}

/** light mode**/
.navbarLight {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
}
.navbarLight .logoName {
  color: #00abca;
}

.navbarLight .side {
  color: #2b283a;
}
.navbarLight .secondary {
  color: #d5d4d8;
}
.navbarLight .slideBox {
  background-color: #2b283a;
}
.mainLight {
  background-color: #ffffff;
  color: #2B283A;
}
.mainLight  li::marker {
  color:#00ABCA;
  ;
}